.slider {
  display: block;
    width: 88px;
    padding: 25px 0;
    margin: 0;
    .label {
      display: block;
      margin-bottom: 1rem;
    }
    .label span:nth-child(1){
      font-size: medium;
      font-weight: 600;
      color: #000;
      margin-right: 0.5rem;
      margin-left: -9px;
    }
    .label span:nth-child(2){
      font-weight: 600;
      color: #000;
     }
}
